@import '~bootstrap/scss/functions';

// Strip the unit from a number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// Exponent a number
@function pow($number, $exponent) {
  $hasUnit: type-of($number) != number;
  @if ($hasUnit) {
    $number: strip-unit($number);
  }
  $value: 1;
  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }
  @return $value;
}
