@import '~bootstrap/scss/type';

h1,
.h1 {
  line-height: $h1-line-height;
  letter-spacing: $headings-letter-spacing;
}

h2,
.h2 {
  line-height: $h2-line-height;
  letter-spacing: $headings-letter-spacing;
}

h3,
.h3 {
  line-height: $h3-line-height;
  letter-spacing: $headings-letter-spacing;
}

h4,
.h4 {
  line-height: $h4-line-height;
  letter-spacing: $headings-letter-spacing;
}

h5,
.h5 {
  line-height: $h5-line-height;
  letter-spacing: $headings-letter-spacing;
}

h6,
.h6 {
  line-height: $h6-line-height;
  letter-spacing: $headings-letter-spacing;
}

.lead {
  line-height: $lead-line-height;
  letter-spacing: $lead-letter-spacing;
}

body {
  letter-spacing: $body-letter-spacing;
}
