#{$root-selector} {
  @import 'utilities/align';
  @import 'utilities/background';
  @import 'utilities/borders';
  @import 'utilities/clearfix';
  @import 'utilities/display';
  @import 'utilities/embed';
  @import 'utilities/flex';
  @import 'utilities/float';
  @import 'utilities/overflow';
  @import 'utilities/position';
  @import 'utilities/screenreaders';
  @import 'utilities/shadows';
  @import 'utilities/sizing';
  @import 'utilities/stretched-link';
  @import 'utilities/spacing';
  @import 'utilities/text';
  @import 'utilities/visibility';
}

// To help display grid sizes during development
html.development {
  body {
    &:after {
      content: 'xxs #{map-get($grid-breakpoints, xxs)}';
      position: fixed;
      bottom: $spacer;
      left: -3px;
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      background: #000;
      color: #fff;
      font-size: calc(#{$spacer-3} * 0.85);
      line-height: $spacer-3;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
      padding: $spacer-2 $spacer-3;
      z-index: 99999999;
      @include media-breakpoint-up(xs) {
        content: 'xs #{map-get($grid-breakpoints, xs)}';
      }
      @include media-breakpoint-up(sm) {
        content: 'sm #{map-get($grid-breakpoints, sm)}';
      }
      @include media-breakpoint-up(md) {
        content: 'md #{map-get($grid-breakpoints, md)}';
      }
      @include media-breakpoint-up(lg) {
        content: 'lg #{map-get($grid-breakpoints, lg)}';
      }
      @include media-breakpoint-up(xl) {
        content: 'xl #{map-get($grid-breakpoints, xl)}';
      }
    }
  }
  &:hover {
    body:after {
      display: none;
    }
  }
}
