$gr: 1.61803398875; // The Golden Ratio

$root-selector: #app !default;

$spacer: 1.5rem !default; // use rem
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: $spacer / $gr / $gr / $gr,
    2: $spacer / $gr / $gr,
    3: $spacer / $gr,
    4: $spacer,
    5: $spacer * $gr,
    6: $spacer * $gr * $gr,
    7: $spacer * $gr * $gr * $gr,
  ),
  $spacers
);

$spacer--: map-get($spacers, 1) / $gr !default; // 0.21885rem / 3.5016px
$spacer-1: map-get($spacers, 1) !default; // 0.3541rem / 5.665984px
$spacer-2: map-get($spacers, 2) !default; // 0.57295rem / 9.167568px
$spacer-3: map-get($spacers, 3) !default; // 0.92705rem / 14.83312px
$spacer-4: map-get($spacers, 4) !default; // 1.5rem / 24px
$spacer-5: map-get($spacers, 5) !default; // 2.42705rem / 38.8328px
$spacer-6: map-get($spacers, 6) !default; // 3.92705rem / 62.83152px
$spacer-7: map-get($spacers, 7) !default; // 6.3541rem / 101.66144px
$spacer-8: $spacer-7 * $gr !default; // 10.2809rem / 164.4944px

:root {
  --spacer--: #{$spacer--};
  --spacer-1: #{$spacer-1};
  --spacer-2: #{$spacer-2};
  --spacer-3: #{$spacer-3};
  --spacer-4: #{$spacer-4};
  --spacer: #{$spacer};
  --spacer-5: #{$spacer-5};
  --spacer-6: #{$spacer-6};
  --spacer-7: #{$spacer-7};
  --spacer-8: #{$spacer-8};
}

$sizes: () !default;
$sizes: map-merge(
  (
    75: 75%,
    66: 100% / 3 * 2,
    50: 50%,
    33: 100% / 3,
    25: 25%,
    7: 100%,
    6: 100% / $gr,
    5: 100% / $gr / $gr,
    4: 100% / $gr / $gr / $gr,
    3: 100% / $gr / $gr / $gr / $gr,
    2: 100% / $gr / $gr / $gr / $gr / $gr,
    1: 100% / $gr / $gr / $gr / $gr / $gr / $gr,
    0: 100% / $gr / $gr / $gr / $gr / $gr / $gr / $gr,
  ),
  $sizes
);

// Paragraphs

$paragraph-margin-bottom: $spacer !default;
$body-letter-spacing: 0 !default;

// Grid

$grid-gutter-width: $spacer !default;

$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Components

$border-width: $spacer-- / $gr !default;

$border-radius: $spacer-- !default;
$border-radius-lg: $spacer-1 !default;
$border-radius-sm: $spacer-- !default;

// Typography

// $line-height-base matches $spacer when $font-size-base is 1rem
// which is important to keep golden ratio vertical rhythm with text
$line-height-base: strip-unit($spacer) !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.375 !default;
$font-size-sm: $font-size-base * 0.875 !default;

$line-height-lg: $line-height-base / strip-unit($font-size-lg) !default;
$line-height-sm: $line-height-base / $gr / strip-unit($font-size-sm) !default;

$h1-font-size: $font-size-base * $gr * 2.5 !default;
$h2-font-size: $font-size-base * $gr * 2.125 !default;
$h3-font-size: $font-size-base * $gr * 1.75 !default;
$h4-font-size: $font-size-base * $gr * 1.375 !default;
$h5-font-size: $font-size-base * $gr * 1 !default;
$h6-font-size: $font-size-lg !default;

$h1-line-height: $line-height-base * $gr * $gr / strip-unit($h1-font-size) !default;
$h2-line-height: $line-height-base * $gr * $gr / strip-unit($h2-font-size) !default;
$h3-line-height: $line-height-base * $gr * $gr / strip-unit($h3-font-size) !default;
$h4-line-height: $line-height-base * $gr / strip-unit($h4-font-size) !default;
$h5-line-height: $line-height-base * $gr / strip-unit($h5-font-size) !default;
$h6-line-height: $line-height-lg !default;

$headings-letter-spacing: 0 !default;
$headings-text-transform: none !default;
$lead-letter-spacing: 0 !default;

$headings-margin-bottom: $spacer !default;

$display1-size: $h1-font-size !default;
$display2-size: $h2-font-size !default;
$display3-size: $h3-font-size !default;
$display4-size: $h4-font-size !default;

$display-line-height: 1.2 !default;

$lead-font-size: $font-size-lg !default;
$lead-line-height: $line-height-lg !default;

$small-font-size: 100% / $gr !default;

$blockquote-font-size: $font-size-base !default;

$mark-padding: $spacer-- !default;

$list-inline-padding: $spacer-2 !default;

// Tables

$table-cell-padding: $spacer-2 / 2 $spacer-2 !default;
$table-cell-padding-sm: $spacer-1 / 2 $spacer-1 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: $spacer-2 / 2 !default;
$input-btn-padding-x: $spacer-2 !default;

$input-btn-focus-width: $spacer-- !default;

$input-btn-padding-y-sm: $spacer-1 / 2 !default;
$input-btn-padding-x-sm: $spacer-1 !default;

$input-btn-padding-y-lg: $spacer-3 / 2 !default;
$input-btn-padding-x-lg: $spacer-3 !default;

// Buttons

$btn-block-spacing-y: $spacer-2 !default;

// Forms

$label-margin-bottom: $spacer-2 !default;

$form-text-margin-top: $spacer-- !default;

$form-check-input-gutter: $spacer !default;
$form-check-input-margin-y: $spacer-2 / 2 !default;
$form-check-input-margin-x: $spacer-- !default;

$form-check-inline-margin-x: $spacer-3 !default;
$form-check-inline-input-margin-x: $spacer-1 !default;

$form-grid-gutter-width: $spacer-2 !default;
$form-group-margin-bottom: $spacer-3 !default;

$custom-control-gutter: $spacer-2 !default;
$custom-control-spacer-x: $spacer-3 !default;

$custom-control-indicator-size: $spacer-3 !default;

$custom-select-indicator-padding: $spacer-3 !default; // Extra padding to account for the presence of the background-image based indicator
$custom-select-bg-size: $spacer-2 $spacer-3 !default; // In pixels because image dimensions

$custom-range-track-height: $spacer-2 !default;
$custom-range-track-border-radius: $spacer-3 !default;

$custom-range-thumb-width: $spacer-3 !default;
$custom-range-thumb-border-radius: $spacer-3 !default;

// Navs

$nav-link-padding-y: $spacer-3 / 2 !default;
$nav-link-padding-x: $spacer-3 !default;

$nav-divider-margin-y: $spacer-3 !default;

// Navbar

$navbar-padding-y: $spacer / 2 !default;
$navbar-padding-x: $spacer !default;
$navbar-nav-link-padding-x: $spacer-3 !default;

$navbar-toggler-padding-y: $spacer-1 / 2 !default;
$navbar-toggler-padding-x: $spacer-3 !default;

// Dropdowns

$dropdown-min-width: $spacer-8 !default;
$dropdown-padding-y: $spacer-3 / 2 !default;
$dropdown-spacer: $spacer-- !default;
$dropdown-item-padding-y: $spacer-2 / 2 !default;
$dropdown-item-padding-x: $spacer !default;

// Pagination

$pagination-padding-y: $spacer-3 / 2 !default;
$pagination-padding-x: $spacer-3 !default;
$pagination-padding-y-sm: $spacer-2 / 2 !default;
$pagination-padding-x-sm: $spacer-2 !default;
$pagination-padding-y-lg: $spacer / 2 !default;
$pagination-padding-x-lg: $spacer !default;
$pagination-line-height: $line-height-base !default;

// Jumbotron

$jumbotron-padding: $spacer-5 !default;

// Cards

$card-spacer-y: $spacer / 2 !default;
$card-spacer-x: $spacer !default;

$card-img-overlay-padding: $spacer !default;

$card-columns-gap: $spacer !default;

$tooltip-padding-y: $spacer-2 / 2 !default;
$tooltip-padding-x: $spacer-2 !default;

$tooltip-arrow-width: $spacer-3 !default;
$tooltip-arrow-height: $spacer-1 !default;

// Popovers

$popover-max-width: $spacer-8 * $gr !default;
$popover-header-padding-y: $spacer-3 / 2 !default;
$popover-header-padding-x: $spacer-3 !default;

$popover-arrow-width: $spacer-3 !default;
$popover-arrow-height: $spacer-2 !default;

// Toasts

$toast-max-width: $spacer-8 * $gr * $gr !default;
$toast-padding-x: $spacer-3 !default;
$toast-padding-y: $spacer / 2 !default;
$toast-font-size: $font-size-base !default;

// Badges

$badge-font-size: 100% / $gr !default;
$badge-padding-y: $spacer-1 !default;
$badge-padding-x: $spacer-2 !default;

$badge-pill-padding-x: $spacer-2 !default;
$badge-pill-border-radius: $spacer-8 !default;

// Modals

// Padding applied to the modal body
$modal-inner-padding: $spacer-3 !default;

$modal-footer-margin-between: $spacer-2 !default;

$modal-dialog-margin: $spacer-2 !default;
$modal-dialog-margin-y-sm-up: $spacer !default;

$modal-header-padding-y: $spacer-3 / 2 !default;
$modal-header-padding-x: $spacer-3 !default;

// Alerts

$alert-padding-y: $spacer / 2 !default;
$alert-padding-x: $spacer !default;
$alert-margin-bottom: $spacer !default;

// Progress bars

$progress-height: $spacer-3 !default;

// List group

$list-group-item-padding-y: $spacer / 2 !default;
$list-group-item-padding-x: $spacer !default;

// Image thumbnails

$thumbnail-padding: $spacer-1 !default;

// Breadcrumbs

$breadcrumb-padding-y: $spacer-3 / 2 !default;
$breadcrumb-padding-x: $spacer-3 !default;
$breadcrumb-item-padding: $spacer-2 !default;

$breadcrumb-margin-bottom: $spacer !default;

// Carousel

$carousel-indicator-width: $spacer-5 !default;
$carousel-indicator-height: $spacer-- !default;
$carousel-indicator-hit-area-height: $spacer-2 !default;
$carousel-indicator-spacer: $spacer-- !default;

$carousel-caption-width: 100% / $gr !default;

$carousel-control-icon-width: $spacer !default;

// Spinners

$spinner-width: $spacer-5 !default;
$spinner-border-width: $spacer-1 !default;

$spinner-width-sm: $spacer-3 !default;
$spinner-height-sm: $spinner-width-sm !default;
$spinner-border-width-sm: $spacer-1 !default;

// Code

$kbd-padding-y: $spacer-2 / 2 !default;
$kbd-padding-x: $spacer-2 !default;

$pre-scrollable-max-height: $spacer-8 * $gr * $gr !default;

// All remaining bootstrap variables
@import '~bootstrap/scss/variables';
